/* Style Sheet for QC DB Program Main Page */


/* Header Styles */
.lobster-text {
  font-family: 'Lobster', cursive;
  text-shadow: 4px 4px 4px #aaa;
}

/*font-family: 'Lobster', cursive;
font-family: 'Josefin Slab', serif;*/

/* Table Styles */
table {
  border-collapse: collapse;
  font-family: 'Josefin Slab', serif;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
.bottom-margin {
    margin-bottom: 40px;
}
.table-top {
  background: lightgrey;
  font-family: 'Josefin Slab', serif;
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

/* Form Styles */

.gradation-form {
  margin: 3%;
  width: 25vw;
}

.myFooter {
    background-color: #f5f5f5;
    bottom: 0;
    height: 3em;
    position: absolute;
    text-align: center;
    width: 100%;
  }

/* Shadow s*/
  body {
    font-family: 'Josefin Slab', serif;
    margin-top:20px;
  }

.box-shadow-demo {
    background-color: #009688;
    height: 100px;
    width: 100px;
    margin: 20px auto;
}
.z-depth-1 {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.z-depth-2 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}
.z-depth-4 {
    -webkit-box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);
    box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);
}
.z-depth-5 {
    -webkit-box-shadow: 0 17px 17px 0 rgba(0,0,0,0.15),0 27px 55px 0 rgba(0,0,0,0.3);
    box-shadow: 0 17px 17px 0 rgba(0,0,0,0.15),0 27px 55px 0 rgba(0,0,0,0.3);
}
#sel1 {
  margin-bottom: 1em;
}
