/* Style Sheet for QC DB Program Main Page */


/* Header Styles */


/* Table Styles */
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
.bottom-margin {
    margin-bottom: 30px;
}
.table-top {
  background: lightgrey;
}

/* Form Styles */

.gradation-form {
  margin: 3%;
  width: 25vw;
}

.myFooter {
    background-color: #f5f5f5;
    bottom: 0;
    height: 3em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
